main {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px;
}

.main-title {
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
}

.comment-group {
    margin: 0 auto;
    margin:30px 5px 30px;
    font-size: 1.4rem;
    max-height: 700px;
    overflow-y: auto;
    padding: 10px;
}

.comment-content {
    width: 80%;
}

.comment-content--right {
    margin-left: auto;
}

.user-area--right,
.comment-area--right {
    text-align: right;
}

.user-area__name {
    margin: 0 5px;
}

.user-area__seller {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 1px 4px;
}

.user-area__image {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 50px;
    object-fit: cover;
}

.comment-area__text {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: lightgrey;
    border-radius: 3px;
    text-align: left;
}