/*  mypage-css -------------------- */
.user-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 200px;
    margin: 0 auto;
}

.user-group {
    display: flex;
    align-items: center;
    width: 70%;
}

.user-group__icon {
    height: 90px;
    width: 90px;
    border: 1px solid grey;
    border-radius: 50px;
}

.user-group__name {
    width: 70%;
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.6rem;
}

.user-wrap__profile {
    color: rgb(255, 73, 73);
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(255, 73, 73);
    border-radius: 3px;
    padding: 3px 20px;
}

/* ------------------------------ */

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.tab-wrap__label {
    order: -1;
    width: 120px;
    padding: 5px 10px;
    color: #999;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.tab-wrap__label:first-child {
    margin-left: 50px;
}

.tab-wrap__label:hover {
    opacity: .8;
}

.tab-wrap__input {
    display: none;
}

.tab-wrap__group {
    display: none;
    width: 100%;
    padding: 30px 50px;
    background-color: #fff;
    border-top: 2px solid grey;
}

.tab-wrap__label:has(:checked) {
    color: red;
}

.tab-wrap__label:has(:checked) + .tab-wrap__group {
    display: block;
}

.link-button {
    font-size: 1.8rem;
}